@font-face {
    font-family: "Rosaline";
    src: url(fonts/rosaline-webfont.woff) format(woff);
    src: url(fonts/rosaline-webfont.woff2) format(woff2);
}

@font-face {
    font-family: "Melon Fruit";
    src: url(fonts/melon_fruit-webfont.woff) format(woff);
    src: url(fonts/melon_fruit-webfont.woff2) format(woff2);
}

@font-face {
    font-family: "Dream Orphanage";
    src: url(fonts/dream_orphanage_rg-webfont.woff) format(woff);
    src: url(fonts/dream_orphanage_rg-webfont.woff2) format(woff2);
}

html {
    scroll-behavior: smooth;
}

.hello-text {
    margin: auto;
    color: white;
    font-weight: 300;
}

h1 {
    font-family: Rosaline, serif;
    font-size: 55px;
}

h2 {
    font-family: Melon Fruit, serif;
    font-size: 35px;
}

#header-text {
    text-align: center;
    margin: 50px;
    color: #CDB4DB;
}

#header {
    z-index: 2;
    position: sticky;
    display: flex;
    top: 10px;
    background-color: #E4CCE8;
    border: 5px solid #CDB4DB;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
}

#menu {
    flex: 0;
    width: 100px;
}

#menu-button {
    font-size: 30px;
    color: white;
    background-color: #E4CCE8;
    font-family: "Melon Fruit";
    border: 5px double #CDB4DB;
    border-radius: 5px;
    margin: 5px;
}

#menu-button:hover {
    background-color: #BDE0FE;
}

#menu-content {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
    border: 2px solid #CDB4DB;
    border-radius: 8px;
}

#menu-content a {
    font-family: "Melon Fruit";
    font-size: 25px;
    background-color: #E4CCE8;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 5px 5px 0;
}

#menu-content-1 {
    border: 2px solid #CDB4DB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#menu-content-2, #menu-content-3 {
    border: 2px solid #CDB4DB;
}

#menu-content-4 {
    border: 2px solid #CDB4DB;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu-content a:hover {
    background-color: #BDE0FE;
}

#menu:hover #menu-content {
    display: block;
}

#sticky-text {
    flex: 1;
    font-size: 35px;
    text-align: right;
    margin: auto 10px;
    color: white;
    text-shadow: 0px 0px 5px #CDB4DB;
}

#headshot {
    text-align: center;
    margin-bottom: 50px;
}

#megan-picture {
    width: 75vw;
    max-width: 500px;
    border: 5px solid #CDB4DB;
    border-radius: 500px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
}

body {
    /* background-image: url("images/par.png");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center;
    background-size: contain; */
    background: linear-gradient(to bottom right, #BDE0FE, #E4CCE8, #FFC8DD);
}

#about-me {
    display: flex;
    max-width: 100vw;
    gap: 1vw;
}

#about-me-1 {
    display: inline-block;
    margin: 30px 15vw;
    margin-top: -12px;
    padding: 25px 30px;
    background-color: #FFC8DD;
    border: 5px solid #FFAFCC;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
    font-family: "Dream Orphanage";
    color: white;
    font-size: 18px;
}

#about-me-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#about-me-header-1 {
    z-index: 1;
    color: #FFAFCC;
    text-shadow: 0 -3px 7px white;
    margin: 0 30px;
    width: 60vw;
    text-align: left;
}

.about-me-text {
    font-family: "Dream Orphanage";
    font-size: 25px;
    color: white;
    margin: 0;
    padding: 10px;
}

#skills-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#skills-header-1 {
    color: #A2D2FF;
    text-shadow: 0 -3px 7px white;
    margin: 0;
    width: 60vw;
    text-align: left;
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #BDE0FE;
    padding: 10px;
    border: 5px solid #A2D2FF;
    border-radius: 10px;
    margin: 30px 15vw;
    margin-top: -12px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
}

#skills-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 60vw;
    margin: 20px 20px;
    
}

.skills-whole {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 5px solid #A2D2FF;
    border-radius: 10px;
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
    box-shadow: 1px 1px 5px #A2D2FF;
}

.logos {
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
}

.text {
    font-family: "Dream Orphanage";
    font-size: 18px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
    padding: 10px;
    margin: 0px;
    border-radius: 4px;
    color: white;
    background-color: #BDE0FE;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.skills-whole:hover .text {
    visibility: visible;
    opacity: 1;
}

#javascript .logos {
    border-radius: 5px;
}

#project-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#project-header-1 {
    color: #FFAFCC;
    text-shadow: 0 -3px 7px white;
    margin: 0;
    width: 60vw;
    text-align: left;
}

#projects {
    display: flex;
    height: fit-content;
    justify-content: center;
    background-color: #FFC8DD;
    padding: 10px;
    border: 5px solid #FFAFCC;
    border-radius: 10px;
    margin: 30px 15vw;
    margin-top: -12px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
}

#projects-block {
    text-align: center;
    margin: 10px;
}

.project-div a {
    display: inline-block;
    font-family: "Rosaline";
    font-size: 40px;
    color: #FFAFCC;
    margin: 10px;
}

.project-div a:hover {
    color: #CDB4DB;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.languages {
    font-family: "Melon Fruit";
    font-size: 25px;
    color: #FFAFCC;
    margin: 10px
}

.project-description {
    font-family: "Dream Orphanage";
    font-size: 20px;
    color: #FFAFCC;
    margin: 10px
}

.project-div {
    background-color: white;
    border: 5px solid #FFAFCC;
    border-radius: 10px;
    margin: 20px;
    /* width: 60vw; */
    box-shadow: 1px 1px 5px #FFAFCC;
}

#contact-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#contact-header-1 {
    color: #A2D2FF;
    text-shadow: 0 -3px 7px white;
    margin: 0;
    width: 60vw;
    text-align: left;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #BDE0FE;
    padding: 10px;
    border: 5px solid #A2D2FF;
    border-radius: 10px;
    margin: 30px 15vw;
    margin-top: -12px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, .5);
}

#contact-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;
    height: fit-content;
    margin: 20px 20px;
    justify-content: center;
}

.logos-2 {
    padding: 10px;
    width: 64px;
    height: 64px;
    border: 2px solid #BDE0FE
}

.logos-2:hover {
    background-color: #E4CCE8;
    border: 2px solid #CDB4DB;
    border-radius: 5px;
}

/* #contact-block p {
    text-align: center;
} */

@media (max-width: 768px) {
    #about-me-header-1, #skills-header-1, #project-header-1, #contact-header-1 {
        width: 90vw;
        margin: 0 30px
    }

    #about-me-1, #skills, #projects, #contact {
        margin: 0 0 20px;
        margin-top: -12px;
    }

    .text {
        font-size: 13px;
    }
}