@font-face {
    font-family: "Rosaline";
    src: url(fonts/rosaline-webfont.woff) format(woff);
    src: url(fonts/rosaline-webfont.woff2) format(woff2);
}

@font-face {
    font-family: "Melon Fruit";
    src: url(fonts/melon_fruit-webfont.woff) format(woff);
    src: url(fonts/melon_fruit-webfont.woff2) format(woff2);
}

@font-face {
    font-family: "Dream Orphanage";
    src: url(fonts/dream_orphanage_rg-webfont.woff) format(woff);
    src: url(fonts/dream_orphanage_rg-webfont.woff2) format(woff2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff5fa;
    /* background: linear-gradient(to bottom right, #E9EDC9, #D2DAB3, #ADB68B); */
}

.hello-text {
    margin: auto;
    color: #d28fb1;
    text-shadow: 2px -2px 1px #f7bdda;
}

h1 {
    font-family: Rosaline, serif;
    font-size: 55px;
}

h2 {
    font-family: Melon Fruit, serif;
    font-weight: 300;
    font-size: 35px;
}

#header-text {
    text-align: center;
    margin: 50px;
}

#header {
    z-index: 2;
    position: sticky;
    display: flex;
    top: 10px;
    background-color: #f7bdda;
    border: 5px solid #d28fb1;
    border-radius: 10px;
}

#menu {
    flex: 0;
    width: 100px;
}

#menu-button {
    font-size: 30px;
    color: #fff5fa;
    background-color: #f7bdda;
    font-family: "Melon Fruit";
    border: 5px double #d28fb1;
    border-radius: 5px;
    margin: 5px;
}

#menu-button:hover {
    background-color: #fff5fa;
    color: #d28fb1;
}

#menu-content {
    display: none;
    position: absolute;
    background-color: transparent;
    border: 2px solid #d28fb1;
    border-radius: 8px;
}

#menu-content a {
    font-family: "Melon Fruit";
    font-size: 25px;
    background-color: #f7bdda;
    color: #fff5fa;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 5px 5px 0;
}

#menu-content-1 {
    border: 2px solid #d28fb1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#menu-content-2, #menu-content-3 {
    border: 2px solid #d28fb1;
}

#menu-content-4 {
    border: 2px solid #d28fb1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu-content a:hover {
    background-color: #fff5fa;
    color: #d28fb1;
}

#menu:hover #menu-content {
    display: block;
}

#sticky-text {
    font-family: Rosaline;
    font-weight: bold;
    text-decoration: none;
    flex: 1;
    font-size: 35px;
    text-align: right;
    margin: auto 10px;
    color: #fff5fa;
}

#landing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

#headshot {
    z-index: 1;
}

#megan-picture {
    width: 30vw;
    max-width: 500px;
    border: 5px solid #d28fb1;
    border-radius: 500px;
}

#about-me {
    width: 50vw;
}

#about-me-1 {
    padding-left: 25px;
    /* border: 5px solid #d28fb1;
    border-radius: 10px; */
    font-family: "Dream Orphanage";
    color: #d28fb1;
    font-size: 18px;
}

#skills-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#skills-header-1 {
    color: #d28fb1;
    margin: 0;
    width: 60vw;
    text-align: left;
    text-shadow: 2px -2px 1px #f7bdda;
}

#skills {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #f7bdda;
    padding: 10px;
    border: 5px solid #d28fb1;
    border-radius: 10px;
    margin: 30px 15vw;
    margin-top: -12px;
    width: 75vw;
}

#skills-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 20px;
    
}

.skills-whole {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background-color: #fff5fa;
    border: 5px solid #d28fb1;
    border-radius: 10px;
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
}

.logos {
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
}

.text {
    font-family: "Dream Orphanage";
    font-size: 18px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 50vw;
    width: 50vw;
    max-height: 250px;
    max-width: 250px;
    padding: 10px;
    margin: 0px;
    border-radius: 4px;
    color: #d28fb1;
    background-color: #fff5fa;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.skills-whole:hover .text {
    visibility: visible;
    opacity: 1;
}

#javascript .logos {
    border-radius: 5px;
}

#project-header {
    scroll-margin-top: 75px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#project-header-1 {
    color: #d28fb1;
    margin: 0;
    width: 60vw;
    text-align: left;
    text-shadow: 2px -2px 1px #f7bdda;
}

#projects {
    width: 75vw;
    display: flex;
    height: fit-content;
    justify-content: center;
    justify-self: center;
    background-color: #f7bdda;
    padding: 10px;
    border: 5px solid #d28fb1;
    border-radius: 10px;
    margin: 30px 15vw;
    margin-top: -12px;
}

#projects-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.project-div {
    max-width: 500px;
    padding: 10px;
    background-color: #fff5fa;
    border: 5px solid #d28fb1;
    border-radius: 10px;
    margin: 10px;
}

.project-div a {
    display: inline-block;
    font-family: "Rosaline";
    font-size: 40px;
    color: #d28fb1;
    margin: 10px;
}

.project-div a:hover {
    color: #f7bdda;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.languages {
    font-family: "Melon Fruit";
    font-size: 25px;
    color: #d28fb1;
    margin: 10px
}

.project-description {
    font-family: "Dream Orphanage";
    font-size: 20px;
    color: #d28fb1;
    margin: 10px
}


#contact-header {
    scroll-margin-top: 75px;
    display: flex;
    justify-content: center;
}

#contact-header-1 {
    color: #d28fb1;
    margin: 0;
    /* width: 60vw; */
    text-align: left;
    text-shadow: 2px -2px 1px #f7bdda;
}

#contact {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: fit-content;
    background-color: #f7bdda;
    padding: 10px;
    border: 5px solid #d28fb1;
    border-radius: 10px;
    margin: 30px;
    margin-top: -12px;
    margin-bottom: -25px;
}

#contact-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
    height: fit-content;
    margin: 20px 20px;
    justify-content: center;
}

.logos-2 {
    padding: 10px;
    width: 64px;
    height: 64px;
    border: 2px solid #f7bdda
}

.logos-2:hover {
    border: 2px solid #d28fb1;
    border-radius: 5px;
}

#back-to-top {
    z-index: 2;
    position: sticky;
    display: flex;
    justify-self: right;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
    bottom: 15px;
    width: 25px;
    height: 25px;
    border: 5px solid #d28fb1;
    border-radius: 500px;
    font-family: rosaline;
    font-size: 50px;
    font-weight: bolder;
    background-color: #f7bdda;
    color: #fff5fa;
    text-decoration: none;
    padding: 10px;
}


@media (max-width: 768px) {
    #about-me-header-1, #skills-header-1, #project-header-1, #contact-header-1 {
        width: 90vw;
        margin: 0 30px
    }

    #about-me-1, #skills, #projects, #contact {
        margin: 0 0 20px;
        margin-top: -12px;
    }

    .text {
        font-size: 13px;
    }
}